@font-face {
    font-family: 'matrix';
    src: url('binchrt.ttf');
}

header{
    font-family:'matrix';
    font-size: 40px;
    color:#0f0;
    display:flex;
    
    align-items: center;
    background-image: url('Fondo_Negro.jpg');
    text-shadow:0px 0px 8px #0f0;
}

body{
    min-height: 95vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('Fondo_Negro.jpg');
    
    

}


.calc_out{
    width: 340px;
    height: 572px;
    background-image: url('entermatrix.gif');
    background-size:auto;
    cursor: pointer;
    border: 5px solid #0f0;
    border-radius: 15px; 
}

.calc_in{
    display: grid;
    grid-template-columns: repeat(4,70px);
    grid-template-rows: 110px repeat(7, 70px);
    padding: 20px;
    justify-content: center;

}

.pantalla{
    font-family: 'matrix';
    font-size: 27px;
    display: flex;
    margin-top:10px;
    margin-bottom: 15px;
    margin-left: 7px;
    margin-right: 7px;
    grid-column: 1 / -1;
    border:solid #0f0;
    border-radius: 15px;
    align-items:center;
    justify-content: center;
    color:#0f0;
    background-color: black;
    box-shadow: 0 0 10px 0 rgb(77, 255, 60);
}

button {
    
    font-family: 'matrix';
    font-size: 27px;
    

    margin: 7px;
    cursor: pointer;
    
    color: #0f0;
    background-color: black;
    border: outset;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgb(77, 255, 60);
   
  }
  
  button:hover {
    box-shadow: 0 0 20px 0 rgb(77, 255, 60);
    border:outset;
  }
  
  button:active {
    
    transform: translateY(4px);
    box-shadow: 0 0 20px 0 rgb(77, 255, 60), 0 0 20px 0 rgb(77, 255, 60);
    border:inset;
  }

  #add{
      grid-row: span 2;
  }

  #borrar{
      grid-column: span 2;
  }

  #binario{
    grid-column: span 2;
  }
