/* CV css */
@font-face {
    font-family: 'matrix';
    src: url('binchrt.ttf');
}

h1{
    text-align: center;
}

h2{
    font-family: 'matrix';
    font-size: 40px;
    color: #0f0;
    text-align: left;
    border: 2px solid #0f0;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-left: 20px;
    margin-right: 20%;
}
.union{
    display: inline-flex;
    padding: 0px;
    margin: 50px;
    border: 7px solid #0f0;
}


.imagen_dni{
    margin: 0px;
    padding: 0px;
    position: relative;
}

.gif{
    left:300px;
    top: 300px;
    position: fixed;
    white-space: nowrap;
}

.borde{
    padding-top: 6px;
    border: 7px solid #0f0;
    border-left: none;
    border-right: none;
    border-top: none;
}

aside{
    width: 30%;
    border: 7px solid #0f0;
    border-right: none;
    border-top: none;
    border-bottom: none;
    margin: 0px;
    padding:10px;
    float: right;
    text-align: justify;
    flex-wrap: wrap;
}

.texto{
    font-family: 'matrix';
    font-size: 30px;
    color: #0f0;
    text-align: left;
    padding-left: 20px;
    padding-right: 5px;
}

article{
    width: 70%;
    padding: 20px;
    float: left;
    text-align: justify;
    flex-wrap: wrap;
    
}

.gif_izq{
    position: absolute;
    left:auto;
    top:auto;
}

body{
    background-image: url('Fondo_Negro.jpg');
}