/* CV css */
@font-face {
    font-family: 'matrix';
    src: url('binchrt.ttf');
}

h1{
    text-align: center;
}

h2{
    font-family: 'matrix';
    font-size: 40px;
    color: rgb(81, 255, 81);
    text-align: left;
    border: 2px solid rgb(46, 255, 46);
    border-left: none;
    border-right: none;
    border-top: none;
    padding-left: 20px;
    margin-right: 20%;
    text-shadow:0px 0px 8px #0f0;
   
    
    
}

.union{
    display: inline-flex;
    padding: 0px;
    margin: 50px;
    border: 7px solid rgb(29, 255, 29);
}


.imagen_dni{
    margin: 0px;
    padding: 0px;
    position: relative;
}

.gif{
    left:300px;
    top: 300px;
    position: fixed;
    white-space: nowrap;
}

.borde{
    padding-top: 6px;
    border: 7px solid rgb(29, 255, 29);
    border-left: none;
    border-right: none;
    border-top: none;
}

aside{
    width: 30%;
    border: 7px solid rgb(29, 255, 29);
    border-right: none;
    border-top: none;
    border-bottom: none;
    margin: 0px;
    padding:10px;
    float: right;
    text-align: justify;
    min-width:min-content;
}

.texto{
    font-family: 'matrix';
    font-size: 30px;
    color: rgb(49, 255, 49);
    text-align: left;
    padding-left: 20px;
    padding-right: 2px;
    text-shadow:0px 0px 6px #0f0;
}

.texto_lista{
    font-family: 'matrix';
    font-size: 30px;
    color: rgb(58, 255, 58);
    text-align: left;
    padding-right: 2px;
    text-shadow:0px 0px 6px #0f0;

}

article{
    width: 70%;
    padding: 20px;
    float: left;
    text-align: justify;
    min-width:min-content;
    
}

.gif_izq{
    position: absolute;
    left:auto;
    top:auto;
}

body{
    background-image: url('Fondo_Negro.jpg');
}