/* CV css */
@font-face {
    font-family: 'matrix';
    src: url('binchrt.ttf');
}


h1{
    font-family: 'matrix';
    font-size: 40px;
    color: #0f0;
    text-align: center;
    border: 5px solid #0f0;
    border-bottom: none;
    padding: 10px;
    margin: 100px;
    margin-bottom: 0px;
}
section{
    width: 60%;
    border: 5px solid #0f0;
    margin: 0px;
    padding: 10px;
    flex-wrap: wrap;
    float: right;
    
}

/*aside{
    width: 40%;
    border: 5px solid #0f0;
    margin: 0px;
    padding:10px;
    text-align: justify;
    float: left;
  }*/



body{
    background-image: url('Fondo_Negro.jpg');
}